Repository TeamTheGenius/GitGet_Server, pull requests merged in 2024-08, with the labels that each got.

#239 [REFACTOR] CertificationController & GithubController Facade &DCI 패턴 적용
  src/main/java/com/genius/gitget/challenge/certification/controller/CertificationController.java
  src/main/java/com/genius/gitget/challenge/certification/controller/GithubController.java
  src/main/java/com/genius/gitget/challenge/certification/domain/Certification.java
  src/main/java/com/genius/gitget/challenge/certification/facade/CertificationFacade.java
  src/main/java/com/genius/gitget/challenge/certification/facade/GithubFacade.java
  src/main/java/com/genius/gitget/challenge/certification/service/CertificationFacadeService.java
  src/main/java/com/genius/gitget/challenge/certification/service/CertificationProvider.java
  src/main/java/com/genius/gitget/challenge/certification/service/CertificationService.java
  src/main/java/com/genius/gitget/challenge/certification/service/GithubFacadeService.java
  src/main/java/com/genius/gitget/challenge/certification/service/GithubProvider.java
  src/main/java/com/genius/gitget/challenge/certification/service/GithubService.java
  src/main/java/com/genius/gitget/challenge/instance/domain/Instance.java
  src/main/java/com/genius/gitget/challenge/instance/service/InstanceDetailService.java
  src/main/java/com/genius/gitget/challenge/myChallenge/facade/MyChallengeFacadeService.java
  src/main/java/com/genius/gitget/schedule/service/ProgressService.java
  src/main/java/com/genius/gitget/store/item/dto/OrderResponse.java
  src/main/java/com/genius/gitget/store/item/facade/StoreFacadeService.java
  src/test/java/com/genius/gitget/challenge/certification/controller/CertificationControllerTest.java
  src/test/java/com/genius/gitget/challenge/certification/service/CertificationFacadeTest.java
  src/test/java/com/genius/gitget/challenge/certification/service/CertificationProviderTest.java
  src/test/java/com/genius/gitget/challenge/certification/service/CertificationServiceTest.java
  src/test/java/com/genius/gitget/challenge/certification/service/GithubFacadeTest.java
  src/test/java/com/genius/gitget/challenge/certification/service/GithubProviderTest.java
  src/test/java/com/genius/gitget/challenge/certification/service/GithubServiceTest.java
  src/test/java/com/genius/gitget/challenge/instance/service/InstanceDetailServiceTest.java
  src/test/java/com/genius/gitget/challenge/instance/service/ProgressServiceTest.java
  src/test/java/com/genius/gitget/util/instance/InstanceFactory.java
  src/test/java/com/genius/gitget/util/user/UserFactory.java
Labels: 💡feature, ⚙️ refactor, 🧑🏻‍💻 BE, 🎮 test

#243 [FEAT] ProfileController Facade & DCI 패턴
  src/main/java/com/genius/gitget/challenge/user/service/UserService.java
  src/main/java/com/genius/gitget/profile/controller/ProfileController.java
  src/main/java/com/genius/gitget/profile/service/ProfileFacade.java
  src/main/java/com/genius/gitget/profile/service/ProfileFacadeService.java
  src/test/java/com/genius/gitget/profile/service/ProfileServiceTest.java
Labels: 💡feature, ⚙️ refactor, 🧑🏻‍💻 BE, 🖥️ server, 🎮 test

#242 [FEAT] InstanceDetail Facade Pattern 적용
  src/main/java/com/genius/gitget/challenge/certification/controller/CertificationController.java
  src/main/java/com/genius/gitget/challenge/instance/controller/InstanceDetailController.java
  src/main/java/com/genius/gitget/challenge/instance/service/InstanceDetailFacade.java
  src/main/java/com/genius/gitget/challenge/instance/service/InstanceDetailFacadeService.java
  src/main/java/com/genius/gitget/challenge/instance/service/InstanceProvider.java
  src/main/java/com/genius/gitget/challenge/likes/service/LikesService.java
  src/main/java/com/genius/gitget/schedule/service/ProgressService.java
  src/test/java/com/genius/gitget/challenge/instance/service/InstanceDetailServiceTest.java
  src/test/java/com/genius/gitget/challenge/instance/service/ProgressServiceTest.java
Labels: 💡feature, ⚙️ refactor, 🧑🏻‍💻 BE, 🖥️ server, 🎮 test

#244 [REFACTOR] Files 서비스 계층 이름 변경
  src/main/java/com/genius/gitget/challenge/certification/service/CertificationFacadeService.java
  src/main/java/com/genius/gitget/challenge/instance/facade/InstanceFacadeService.java
  src/main/java/com/genius/gitget/challenge/instance/facade/InstanceHomeFacadeService.java
  src/main/java/com/genius/gitget/challenge/instance/service/InstanceDetailFacadeService.java
  src/main/java/com/genius/gitget/challenge/instance/service/InstanceService.java
  src/main/java/com/genius/gitget/challenge/likes/facade/LikesFacadeService.java
  src/main/java/com/genius/gitget/challenge/myChallenge/facade/MyChallengeFacadeService.java
  src/main/java/com/genius/gitget/challenge/user/service/UserService.java
  src/main/java/com/genius/gitget/global/file/controller/FileTestController.java
  src/main/java/com/genius/gitget/global/file/controller/FilesController.java
  src/main/java/com/genius/gitget/global/file/service/FileService.java
  src/main/java/com/genius/gitget/global/file/service/FilesManager.java
  src/main/java/com/genius/gitget/global/file/service/LocalFileService.java
  src/main/java/com/genius/gitget/global/file/service/S3FileService.java
  src/main/java/com/genius/gitget/global/util/config/AppConfig.java
  src/main/java/com/genius/gitget/profile/service/ProfileFacadeService.java
  src/main/java/com/genius/gitget/topic/facade/TopicFacadeService.java
  src/test/java/com/genius/gitget/challenge/instance/controller/InstanceControllerTest.java
  src/test/java/com/genius/gitget/challenge/instance/service/InstanceFacadeTest.java
  src/test/java/com/genius/gitget/challenge/likes/controller/LikesControllerTest.java
  src/test/java/com/genius/gitget/global/file/service/FileUtilTest.java
  src/test/java/com/genius/gitget/payment/controller/PaymentControllerTest.java
  src/test/java/com/genius/gitget/profile/controller/ProfileControllerTest.java
  src/test/java/com/genius/gitget/topic/controller/TopicControllerTest.java
Labels: ⚙️ refactor, 🧑🏻‍💻 BE

#250 [FEAT] JWT 발급 API에서 header 추가 설정
  src/main/java/com/genius/gitget/global/security/controller/AuthController.java
Labels: 💡feature, 🧑🏻‍💻 BE

#257 [FEAT] Spring security 관련 커스텀 어노테이션 생성 및 적용
  src/main/java/com/genius/gitget/challenge/certification/controller/CertificationController.java
  src/main/java/com/genius/gitget/challenge/certification/controller/GithubController.java
  src/main/java/com/genius/gitget/challenge/instance/controller/InstanceDetailController.java
  src/main/java/com/genius/gitget/challenge/instance/controller/InstanceHomeController.java
  src/main/java/com/genius/gitget/challenge/likes/controller/LikesController.java
  src/main/java/com/genius/gitget/challenge/myChallenge/controller/MyChallengeController.java
  src/main/java/com/genius/gitget/global/security/controller/AuthController.java
  src/main/java/com/genius/gitget/global/util/annotation/GitGetUser.java
  src/main/java/com/genius/gitget/profile/controller/ProfileController.java
  src/main/java/com/genius/gitget/store/item/controller/StoreController.java
  src/main/java/com/genius/gitget/store/payment/controller/PaymentController.java
  src/main/java/com/genius/gitget/store/payment/controller/PaymentTossController.java
Labels: 💡feature, ⚙️ refactor, 🧑🏻‍💻 BE
